#jumbotron{
margin-top: 25px;
background-color: #5A6650;
color:#9FCC2E;
font-family:'Press Start 2P', cursive;
}
#allContent{
    margin-bottom: 50px;

}
body{
    background-color: black;
}
.main::first-letter{
font-size: 100px;
font-family: 'Press Start 2P',serif;
font-style: italic;
float: left;
line-height: 1.2;
margin-right: 14px;
}
.main{
    margin-left: -190px;
    justify-content: left;
    font-size: large;
    font-family:'Lobster',cursive;
    color:#7D933F;
}
#highScoreCard{
    color: #9FCC2E;
}
#highScoreCardHeader{
    font-family: 'Architects Daughter', cursive;
    font-size: larger;
    text-align: center;
    text-emphasis: bold;
    background-color: #072017;
}
#highScoreCardBody{
    background-color: #425C43;
   justify-items: center;
}
#something{
    text-align: center;
    justify-self: center;
    margin-left: 50px;
    font-family: 'Roboto',cursive;
    font-size: large;
    font-style: italic;
}
#quiz-container{
    display: none;
    padding: 20px;
}
#quizCard{
    color: #9FCC2E;
}
#quizCardHeader{
    font-family: 'Architects Daughter', cursive;
    font-size: larger;
    text-align: center;
    text-emphasis: bold;
    background-color: #474B56;
    color: whitesmoke;
}
#quizCardBody{
    background-color:#4E525F;
}
.timer{
color: whitesmoke;
font-size: 50px;
}
#timeStart{
    margin-left: 10px;
}

    
}
@media (max-width:600px){
body{
  
}

#jumbotron{
    justify-self: center;
    }
}
.main{
    justify-content: center;
    justify-self: center;
    margin: auto;
}
#something{
    justify-self: center;
    margin: auto;
    margin-bottom: 20px;
}
#highScoreCard{
    margin-top: 150px;
    max-width: 300px;
    
    margin: auto;
    justify-self: center;
    justify-items: center;
}